body{
    padding: 0;
    margin: 0;
    section{
        display:grid;
        .timezone {
            display:grid;
            grid-template-columns: 100px 1fr 400px;
            &:not(:last-child){
                border-bottom: 1px solid #000;
                padding-bottom: 20px;
            }
            .circle{
                background-color: yellow;
                width:50px;
                height:50px;
                border-radius:50%;
                margin:auto;
            }
        }
    }
}